/* waste7.css */
.badge {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}

table {
  width: 100%;
  border-spacing: 0;
}

.table-row {
  border-bottom: 1px solid #ddd;
}

.tag {
  background-color: lightblue;
  padding: 3px;
}

.img {
  max-width: 100%;
  height: auto;
}
