/* waste4.css */
.card {
  background-color: white;
  border: 1px solid gray;
  margin: 10px;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
